  /*

  omninotesweb main stylesheet
  =============

  Author:  Suraj Patil
  Updated: January 13, 2014
  Notes:	 omninotesweb

  */


/*--------------------------------------
      Layout
-------------------------------------- */


.center{
  text-align:center;
}

.navbar-brand:hover{
  color:white;
}

.footer{
  height:30px;
  width:auto;
  text-align:center;

}

/*--------------------------------------
      Typography
-------------------------------------- */
.hashtag{
  color: #3344A5;
}

.hashtag:hover{
  cursor:pointer;
  text-decoration: underline;
}

/*--------------------------------------
      Navbar
  -------------------------------------- */

  .mainHeader{
   background-color: #3f51b5;
   border-radius:0px;

  }


  .navbar-brand{
    margin-left: 25px;
   font-size:25px;
   color:white;

  }

  .btn-action{
   background-color: #3f51b5;
  }

  #icons{
  text-align:right;
  padding-top:17px;
  }

  nav .glyphicon{
  color:white;
  }

  nav  .glyphicon:hover{
  color:black;
  }

  .sr-only{
    display:block;
    width:20px;
    height:3px;
    background-color: white;
    margin-bottom: 4px;
  }


.hidden{
  display:none;
}

.panel-footer{
    background-color: white;
    border-top:0px;
}

.dropdown-menu{
  margin-top:-18px;
  margin-right:18px;
  min-width:100px;
}
/*--------------------------------------
    NotesFeed
-------------------------------------- */
  .note-lg{
    height:360px;
  }

  .note-md{
    height:240px;
  }

  .note-sm{
    height:140px;
  }

  .note-sm .panel-body{
    height:100px;
  }

  .note-sm .panel-body{
      height:40px;
  }

  .panel{
    box-shadow:0px 1px 0px #CFCFCF;
    border-radius:0 0 4px 4px;

  }
  .panel .btn i,.btn span{
    color:#666666;
  }

  .panel .panel-heading {
    background-color:#ffffff;
    font-weight:700;
    font-size:16px;
    color:#262626;
    border-color:#ffffff;
    margin-bottom:0px;

  }
  .panel .panel-heading a {
    font-weight:400;
    font-size:11px;
  }
  .panel .panel-default {
    border-color:#cccccc;
  }



/*--------------------------------------
    Navigation drawer
-------------------------------------- */

.list-group-item{
      border:none;
  }

  .list-group{

  }

  .col-sm-2 a.list-group-item:hover,a.list-group-item:focus{
	text-decoration:none;
  background-color: transparent;

}

  body{
    background-color: #f5f5f5;
    overflow-x:hidden;
    overflow-y:auto;
    margin-top:70px;
  }

  .nav-item{
    padding-left: 10px;
  }

  .col-sm-2{
    background-color: white;
  }

  #navigationDrawer{
    postion:fixed;
    border: 1px solid black;

  }
  #navigationDrawer h4{
    font-size:14px;

  }

  .badge{
    background-color: #7D8EF0;
  }

  /* --------------------------------------
  Global Styles
  -------------------------------------- */
  body{
  width:100%;
  }

  .main-content{
  color:black;
  }
  /* --------------------------------------
  Media Queries
  -------------------------------------- */

  /* Portrait & landscape phone */
  @media (max-width: 480px) {
    body{
      margin-top:105px;
    }

  #icons{
  text-align:center;
  padding:0;
  }

  .mainHeader h3{
  padding:0px;
  text-align:center;
  }


  .note-sm{
    height:120px;
  }

  }


  /* Landscape phone to portrait tablet */
  @media (max-width: 768px) {
  #icons{
  text-align:center;
  padding:0;
  }

  body{
    margin-top:105px;
  }


  .mainHeader h3{
  padding:0px;
  text-align:center;
  }

  .note-lg{
    height:360px;
    /*change later*/
  }

  }



  /* Large desktop */
  @media (min-width: 1200px) {
  }
