/*

omninotesweb main stylesheet
=============

Author:  Suraj Patil
Updated: January 13, 2014
Notes:	 omninotesweb

*/


/*--------------------------------------
Layout
-------------------------------------- */


.center{
  text-align:center;
}

.navbar-brand:hover{
  color:white;
}

.footer{
  height:30px;
  width:auto;
  text-align:center;

}
textarea {
  resize: vertical;
}

.floating-action-icon{
  position: fixed;
  bottom:40px;
  right:30px;
  z-index:101;
  width: 56px;
  height: 56px;
  font-size: 20px;
  border-radius: 35px;
  box-shadow:0 0 4px #111;
  padding-top:10px !important;


}
/*--------------------------------------
Typography
-------------------------------------- */
.hashtag{
  color: #3344A5;
}

.hashtag:hover{
  cursor:pointer;
  text-decoration: underline;
}

/*--------------------------------------
Navbar
-------------------------------------- */

.mainHeader{
  background-color: #3f51b5;
  border-radius:0px;

}

.tooltip.top .tooltip-inner {
  background-color:rgba(16, 21, 48, 0.50);
}
.tooltip.top .tooltip-arrow {
  border-top-color: rgba(16, 21, 48, 0.50);
}
.tooltip.right .tooltip-inner {
  background-color:rgba(16, 21, 48, 0.50);
}
.tooltip.right .tooltip-arrow {
  border-right-color: rgba(16, 21, 48, 0.50);
}
.tooltip.bottom .tooltip-inner {
  margin-top:2px;
  background-color:rgba(16, 21, 48, 0.50);
}
.tooltip.bottom .tooltip-arrow {
  margin-top:2px;
  border-bottom-color: rgba(16, 21, 48, 0.50);
}
.tooltip.left .tooltip-inner {
  background-color:rgba(16, 21, 48, 0.50);
}
.tooltip.left .tooltip-arrow {
  border-left-color: rgba(16, 21, 48, 0.50);
}

.navbar-brand{
  margin-left: 25px;
  font-size:1.5em;
  color:white;

}

.btn-action{
  background-color: #3f51b5;
}

#icons{
  text-align:right;
  line-height:52px;


}

nav .glyphicon{
  color:white;
}

nav  .glyphicon:hover{
  color:black;
}

.sr-only{
  display:block;
  width:20px;
  height:3px;
  background-color: white;
  margin-bottom: 4px;
}


.hidden{
  display:none;
}

.dropdown-menu{
  margin-top:-18px;
  margin-right:18px;
  min-width:100px;
}

.dropdown-menu{
  margin-top:-18px;
  margin-right:18px;
  min-width:100px;
}
/*--------------------------------------
NotesFeed
-------------------------------------- */
.noteHeading { 
    font-weight:700;
    font-size:15px;
    color:#666666;
    margin-bottom:0px;
    padding-bottom:5px;
    

}
hr{
    margin: 0;
    padding: 0;

}

.noteHeading a {
  font-weight:400;
  font-size:11px;
}

.notes-container{
    
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}

.noteContent {
    padding-top: 7px;
    font-size: 0.9em;
}

/*
.categoryTick{
    display: block;
    float: right;
    width: 10px;
    height: 25px;
    background-color: aquamarine;
}
*/

.notefooter{
  color:#aaa;
}

#grid[data-columns]::before {
	content: '4 .column.size-1of4';
}

/* These are the classes that are going to be applied: */
.column { 
    float: left; 
}

.note{
    display: block;
    margin: 4px;
    padding: 15px;
    background-color: white;
    box-shadow:1px 1px 2px 1px #7D7470;
    border-radius:4px 4px 4px 4px;
    
}

.note:hover{
    
    border-bottom: 2px solid black;
    cursor: pointer;
}

.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }
.size-1of2 { width: 50%; }

.timeline {
    overflow: hidden;
}

.timeline[data-columns]::before {
    content: "4 .column.size-1of4";
}
/*--------------------------------------
Navigation drawer
-------------------------------------- */

.list-group-item{
  border:none;
}

.sidebar-item h5{
  margin-left:15px;
  display: block;
}

.sidebar-item .glyphicon:hover{
  color:black;
}


.col-sm-2 a.list-group-item:hover,a.list-group-item:focus{
  text-decoration:none;
  background-color: transparent;

}

body{
  background-color: #f5f5f5;
  overflow-x:hidden;
  overflow-y:auto;
  margin-top:70px;
}

.nav-item{
  padding-left: 10px;
}

.col-sm-2{
  background-color: white;
}

.badge{
  background-color: #7D8EF0;
  margin-right:10px;
  float:right;
}

/* --------------------------------------
Global Styles
-------------------------------------- */
body{
  width:100%;
}

.main-content{
  color:black;
}
/* --------------------------------------
Media Queries
-------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  body{
    margin-top:105px;
  }

  #icons{
    text-align:center;
    padding:0;
  }

  .mainHeader h3{
    padding:0px;
    text-align:center;
  }


  .note-sm{
    height:150px;
  }

  .floating-action-icon{
    position: fixed;
    bottom:35px;
    right:20px;
    z-index:101;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    font-size: 24px;
    border-radius: 25px;
    text-align:center;
  }

  .modal-dialog{
    width:240px;
  }
    
    .timeline[data-columns]::before {
    content: "2 .column.size-1of2";
}


}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) and (min-width:481px) {
  #icons{
    text-align:center;
    padding:0;
  }

  body{
    margin-top:105px;
  }
.timeline[data-columns]::before {
    content: "3 .column.size-1of3";
}

  .mainHeader h3{
    padding:0px;
    text-align:center;
  }

  .note-lg{
    height:360px;
    /*change later*/
  }
  .modal-dialog{
    width:250px;
  }

}


/* Large desktop */
@media (min-width: 1200px) and (min-width:769) {

}

/*--------------------------------------
Sidebar
-------------------------------------- */
.sidebar-toggle{
  left:10px !important;
}
.sidebar-wrapper.sidebar-default.sidebar-open, .sidebar-wrapper.sidebar-default.sidebar-dragging{
  width:260px;
}

/*Modal dialog*/

.modal-footer {
  padding: 10px 15px 15px;
  margin:0;
  border:none;
}

.modal-body{
  padding: 20px 20px 10px 20px;  # reduces the default paddings
}

.modal{
  overflow: hidden;
}
