/*

omninotesweb main stylesheet
=============

Author:  Suraj Patil
Updated: January 13, 2014
Notes:	 omninotesweb

*/


/*--------------------------------------
Layout
-------------------------------------- */


.center{
  text-align:center;
}

.navbar-brand:hover{
  color:white;
}

.footer{
  height:30px;
  width:auto;
  text-align:center;

}
textarea {
  resize: vertical;
}

.floating-action-icon{
  position: fixed;
  bottom:40px;
  right:30px;
  z-index:10001;
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  border-radius: 35px;
}
/*--------------------------------------
Typography
-------------------------------------- */
.hashtag{
  color: #3344A5;
}

.hashtag:hover{
  cursor:pointer;
  text-decoration: underline;
}

/*--------------------------------------
Navbar
-------------------------------------- */

.mainHeader{
  background-color: #3f51b5;
  border-radius:0px;

}

.tooltip.top .tooltip-inner {
  background-color:rgba(16, 21, 48, 0.50);
}
.tooltip.top .tooltip-arrow {
  border-top-color: rgba(16, 21, 48, 0.50);
}
.tooltip.right .tooltip-inner {
  background-color:rgba(16, 21, 48, 0.50);
}
.tooltip.right .tooltip-arrow {
  border-right-color: rgba(16, 21, 48, 0.50);
}
.tooltip.bottom .tooltip-inner {
  margin-top:2px;
  background-color:rgba(16, 21, 48, 0.50);
}
.tooltip.bottom .tooltip-arrow {
  margin-top:2px;
  border-bottom-color: rgba(16, 21, 48, 0.50);
}
.tooltip.left .tooltip-inner {
  background-color:rgba(16, 21, 48, 0.50);
}
.tooltip.left .tooltip-arrow {
  border-left-color: rgba(16, 21, 48, 0.50);
}

.navbar-brand{
  margin-left: 25px;
  font-size:1.5em;
  color:white;

}

.btn-action{
  background-color: #3f51b5;
}

#icons{
  text-align:right;
  line-height:52px;


}

nav .glyphicon{
  color:white;
}

nav  .glyphicon:hover{
  color:black;
}

.sr-only{
  display:block;
  width:20px;
  height:3px;
  background-color: white;
  margin-bottom: 4px;
}


.hidden{
  display:none;
}

.panel-footer{
  background-color: white;
  border-top:0px;
}

.dropdown-menu{
  margin-top:-18px;
  margin-right:18px;
  min-width:100px;
}
/*--------------------------------------
NotesFeed
-------------------------------------- */
.note-lg{
  height:360px;
}

.note-md{
  height:240px;
}

.note-sm{
  height:140px;
}

.note-sm .panel-body{
  height:100px;
}

.note-sm .panel-body{
  height:40px;
}

.panel{
  /*
  box-shadow:0px 1px 0px #CFCFCF;
  border-radius:0 0 4px 4px;
  */
  border-radius:0 0 0px 0px;
}

.panel .btn i,.btn span{
  color:#666666;
}

.panel .panel-heading {
  background-color:#ffffff;
  font-weight:700;
  font-size:16px;
  color:#262626;
  border-color:#ffffff;
  margin-bottom:0px;

}
.panel .panel-heading a {
  font-weight:400;
  font-size:11px;
}
.panel .panel-default {
  border-color:#cccccc;
}


#notesFeed .panel-footer{
  color:#aaa;
}
/*--------------------------------------
Navigation drawer
-------------------------------------- */

.list-group-item{
  border:none;
}

.sidebar-item h5{
  margin-left:15px;
  display: block;
}

.sidebar-item .glyphicon:hover{
  color:black;
}


.col-sm-2 a.list-group-item:hover,a.list-group-item:focus{
  text-decoration:none;
  background-color: transparent;

}

body{
  background-color: #f5f5f5;
  overflow-x:hidden;
  overflow-y:auto;
  margin-top:70px;
}

.nav-item{
  padding-left: 10px;
}

.col-sm-2{
  background-color: white;
}

.badge{
  background-color: #7D8EF0;
  margin-right:10px;
  float:right;
}

/* --------------------------------------
Global Styles
-------------------------------------- */
body{
  width:100%;
}

.main-content{
  color:black;
}
/* --------------------------------------
Media Queries
-------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  body{
    margin-top:105px;
  }

  #icons{
    text-align:center;
    padding:0;
  }

  .mainHeader h3{
    padding:0px;
    text-align:center;
  }


  .note-sm{
    height:150px;
  }

}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #icons{
    text-align:center;
    padding:0;
  }

  body{
    margin-top:105px;
  }


  .mainHeader h3{
    padding:0px;
    text-align:center;
  }

  .note-lg{
    height:360px;
    /*change later*/
  }

}


/* Large desktop */
@media (min-width: 1200px) {
}

/*--------------------------------------
Sidebar
-------------------------------------- */
.sidebar-toggle{
  left:10px !important;
}
.sidebar-wrapper.sidebar-default.sidebar-open, .sidebar-wrapper.sidebar-default.sidebar-dragging{
  width:260px;
}
